In [9]:
firstname=str(input("write your first name: "))
lastname=str(input("write your last name: "))
username=firstname + " "+lastname
print(username)

write your first name: yssn
write your last name: benlazreg
yssn benlazreg

In [10]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 7
861

In [12]:
n=int(input("write a number"))
if n%2==0:
    print("the given number is even")
else:
    print("the given number is odd")

write a number4
the given number is even

In [1]:
#begin
for i in range(2000,3201):
    if (i%7==0) and ((i%5)!=0):
        print(i , end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [2]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input("write a number"))
print(fact(x))

write a number5
120

In [14]:
def odd_values_string(str):
  result = "" 
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result

print(odd_values_string(input("type here : ")))

type here : med noor
mdno

In [20]:
n=int
if (n==500) :
    n=n*50/100
elif (n in[200,500]) :
    n=n*30/100
else (n= 
      <200):
    n=n*10/100
print(n)

SyntaxError: invalid syntax (<ipython-input-20-53d8d2987939>, line 6)

In [9]:
price= int(input(" enter the price: "))
Price2=0
if price>=500:
  Price2= price-(price/2)
elif price>=200 and price<=500:
  Price2= price-((price/100)*30)
else:
  Price2= price-(price/10)
print("the new price is ",Price2)

 the price: 400
the new price is  280.0